
RewriteEngine on

Options -Indexes
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^simpuslerep\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.simpuslerep\.com$
RewriteRule ^(.*)$ "https\:\/\/simpuslerep\.com\/\?$1" [R=301,L]

RewriteBase /

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]
